<div class="modal" tabindex="-1" *ngIf="open">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal__overlay"></div>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ titleModal }}</h5>
        <button type="button" class="btn-close" (click)="handleClose()"></button>
      </div>
      <div class="modal-body">
        <ng-content select="[body]"></ng-content>
      </div>
      <div class="modal-footer">
        <ng-content select="[footer]"></ng-content>
      </div>
    </div>
  </div>
</div>