
  <app-modal [titleModal]="'Login'" (onClose)="handleClose()" [open]="true">
    <div body>
      <form action="">
        <div class="input-group">
          <input type="text" name="Username" placeholder="Username" [(ngModel)] = "loginObj.Username" required>
        </div>
        <div class="input-group">
          <input type="password" name="Password" placeholder="Password" [(ngModel)] = "loginObj.Password" required>
        </div>
      </form>
    </div>
    <div footer>
      <div class="button-group">
        <button type="submit" class="login-btn" (click)="loginOK()">Login</button>    

        <button type="submit" class="register-btn" (click)="loginOK()">Register</button>
      </div>
      
    </div>
  </app-modal>

  <!-- <app-modal [titleModal]="'Register'" (onClose)="handleClose()" [open]="true"></app-modal> -->

