.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group img {
    display: block;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.submit-btn, .cancel-btn {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.submit-btn {
    background: blue;
    color: white;
    margin-right: 10px;
}

.submit-btn:hover{
    background-color: darkblue;
}

.cancel-btn {
    background: gray;
    color: white;
}

.cancel-btn:hover{
    background-color: #333;
    color: #fff;
}